<h1>Listing abilities</h1>

<div id="abilities-lists"></div>

<br class="clear"/>

<a class="new" href="#">New Ability</a>

<div id="shown-ability">
    <div class="flipper">
        <div class="show-view"></div>
        <div class="edit-view"></div>
    </div>
</div>
