<h1>New ability</h1>

<form id="new-ability" name="ability">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="type"> type:</label>
    <input type="text" name="ability_type" id="type" value="<%= ability_type %>" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="field">
    <label for="body"> body:</label>
    <input type="text" name="body" id="body" value="<%= body %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Ability" />
  </div>

</form>

<a href="#/index">Back</a>
